    <strong>Name:</strong>
    <p>{{ galaxy.name }}</p>
    <strong class="title">Size</strong>
    <p>{{ galaxy.size }}</p>
    <strong>Descripiton:</strong>
    <p>{{ galaxy.description }}</p>

    <div>
        <a href="/galaxies/{{ galaxy.id }}/edit">Edit Galaxy</a>
        <a href="/galaxies/{{ galaxy.id }}/delete">Delete Galaxy</a>
        <a href="/galaxies">&lt;&lt; Go Back</a>
    </div>